html {
    font-size: 16px;
  }

  body{
      display: flex;
      justify-content: center;
  }

  main{
      background-color: rgb(63, 37, 87);
      background: radial-gradient(circle, rgb(31, 18, 44)22%, rgb(61, 36, 85)60%, rgb(76, 54, 99) 100%);
      padding: 30px;
      color: cornsilk;
      width: 750px;
      border-radius: 15px;
      display: block;
      box-shadow: 10px 5px 25px rgb(39, 3, 37);
  }

  header{
      display: block;
  }

  h2{
    font-size: 3em;
    font-weight: bolder;
    margin: 0 0 0px;
  }

  h3{
      font-size: 1.5em;
      font-weight: bold;
      margin: 0 0 20px;
      margin-block-end: 1em;
  }

  section{
      position: relative;
      border-top: 0.5px dashed  rgb(181, 127, 231);
      border-bottom: 0.5px dashed  rgb(181, 127, 231);
  }


::marker{
    color: rgb(181, 127, 231);
    font-size: 20px;
}

 ul{
    list-style-type: circle;
}

li {
    display: list-item;
    text-align: left;
}

p{
    width: 60%;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

section img{
    position: absolute;
    top: 0%;
    right:0%;
    height: 100%;
}

a{
    background-color: rgb(220, 20, 20);
    color:cornsilk ;
    font-weight: bolder;
    align-items: center;
    display: flex;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    float: left;
}

a img{
    width: 30px;
    margin-right: 10px;
}



